h1 i {
    font-style: normal;
    font-size: 16px;
}
.b-page-object {
    width: 100%;
    padding: 20px;
}
.b-page-object {
    width: 100%;
    padding: 20px;
}

.b-scroll {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    height: calc(100vh - 210px);
    border-radius: 0 0 10px 10px;
}

#myCanvas {
    display: block;
    margin: auto;
}

.card-header,
.card-footer {
    background-color: rgba(33, 37, 41, 0.1);
    font-weight: bold;
    color: rgba(33, 37, 41, 0.75)
}

.card-footer {
    font-weight: normal;
}

.card-footer i {
    font-style: normal;
    font-weight: bold;
}

.block-btn-group {
    background-color: rgba(33, 37, 41, 0.1);
    font-weight: bold;
    color: rgba(33, 37, 41, 0.75);
    padding: 0;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
}

.card-body i {
    display: block;
    font-size: 10px;
}
.block-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.b-main-content {
    display: flex;
    flex-direction: row;
}

.glyphicon {
    font-family: "Glyphicons Halflings";
}
.glyphicon-menu-down::before {
    content: "\2212";
    font-family: "Glyphicons Halflings";
}

.hidden #card .card-body { display: none; }

.hidden #card .glyphicon-menu-down::before { content: "\002b"; }

#mainBlock { width: calc(100% - 260px) !important; }
#mainBlock.hide { width: 100% !important; }

#canvas { width: calc(100% - 260px); }
#canvas.hide { width: calc(100% - 260px); }
.hidden #canvas.hide,
.hidden #canvas { width: 100%; }
#card { width: 260px; }
.hidden #canvas { 
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;  
}
.hidden #card { 
    width: 260px;
    position: fixed;
    top: 10px;
    right: 10px;
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;  
 }    

.b-pop-coordinates {
    position: fixed;
    background: #fff;
    width: 300px;
    padding: 10px;
    z-index: 9999;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0, .4);
    top: 10px;
    right: 280px;
} 

.form-contro-xs {
    width: 75px;
}

.editPopUp {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    justify-content: space-between;
}

.editPopUp > div {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn-group .btn-light {
    margin-left: 10px !important;
}
.b-coordinates {
    height: 200px;
    overflow-y: scroll;
}
.toast {
    position: fixed;
    bottom: -50px;
    right: 20px;
    z-index: 9999;
    display: block !important;
    opacity: 0;
}

.toast.show {
  transition: bottom 1.5s, opacity  3s;
  bottom: 20px;
  opacity: 1;
}

.toast.hide {
    transition: bottom 1.5s, opacity  3s;
    bottom: -50px;
    opacity: 0;
  }