backend/node_modules
frontend/node_modules
frontend/shaper/.gitignore
**/node_modules
*.json
**.gitignore
*.gitignore
.gitignore
frontend/shaper/package.json
frontend/shaper/package-lock.json
frontend/shaper/public/images
